---
layout: default
onepage: true
services:
  - title: Corrective Exercise
    icon: fa fa-bell-o
    desc: Jay will work with you to improve posture and build positive habits. You'll learn correct exercise techniques for maximum health.
    <!-- bg: /assets/images/@stock/service-item-1-bg.jpg -->
  - title: Weight Loss
    icon: fa fa-lightbulb-o
    desc: Fitness is about how you feel. If you're interested in losing some excess weight, Jay will help you do so in a healthy and productive manner.
    <!-- bg: /assets/images/@stock/service-item-2-bg.jpg -->
  - title: Athletic Training
    icon: fa fa-bookmark-o
    desc: Jay works with young athletes who want to train for specific sports. They might focus on agility, cardio, and strength.
    <!-- bg: /assets/images/@stock/service-item-3-bg.jpg -->

works:
  - path: _works/jonathan.md
  - path: _works/angie-and-ben.md 
  - path: _works/aidan.md
  - path: _works/lindsay.md
  - path: _works/mike.md
  - path: _works/stacie.md  

members:
  - avatar: /assets/images/@stock/member-7.png
    name: Karen
    position: Nurse
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "Jay has been my personal trainer now for a few years. I had originally lost 60lbs with him but unfortunately stopped going to him. Now I'm BACK and I know I can do it again. He is skilled and thoughtful! Always encouraging me to be the best me! As a nurse, I recommend him highly. You won't be sorry."
  - avatar: /assets/images/@stock/member-9.png
    name: Kelsey
    position: Designer
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://dribbble.com
        icon: dribbble
    desc:
      "I started working with Jay a few months after getting out of a partial hospitalization program. Needless to say, I was not feeling my best. But Jay immediately made me feel comfortable and worked with me as I got back on my feet. Not only did I get physically stronger but I also felt better mentally thanks to the consistent work with him."
  - avatar: /assets/images/@stock/member-8.png
    name: Jeanette
    position: Mom of two
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
      - link: http://tumblr.com
        icon: tumblr
    desc:
      "Jay has been my trainer for almost two years. Before I started training with him, I had borderline cholesterol levels which normalized after just a few months. I more than achieved and maintained my weight loss goal. I am in the best shape since I was in high school which is awesome considering I am 50 years old and a mom of two teenagers. My strength, balance and overall fitness have significantly improved."
  - avatar: /assets/images/@stock/member-4-4.png
    name: Jill
    position: Client
    socials:
      - link: http://twitter.com
        icon: twitter
      - link: http://facebook.com
        icon: facebook
    desc:
      "I've been working out with Jay for over two years now. When I started, my back and neck hurt constantly. Now with his attention to my overall strength and fitness, my energy level is great and I no longer have back and neck pain."

team_slides:
  - /assets/images/injury.jpg
  - /assets/images/group2.jpg
  - /assets/images/@stock/slide-full-11.jpg
  - /assets/images/@stock/slide-full-10.jpg

testimonials:
  - quote: "I am in the best shape since I was in high school which is awesome considering I am 50 years old and a mom of two teenagers."
    author: 
      name: "Jeanette"
      avatar: '/assets/images/@stock/author-avatar-1.png'
      position: 'Mom of Two'
  - quote: "After working with Jay for the past 9 months I have lost almost 50 lbs. More importantly, I have been pain free for the past 6 months!"
    author: 
      name: "Brandi"
      avatar: '/assets/images/@stock/author-avatar-2.png'
      position: ''
  - quote: "Jay does a tremendous job with my son, Ben, who is autistic. He is enthusiastic, upbeat and positive. Ben can now navigate his way around the gym, and with Jay's help, is establishing a lifestyle so he can be healthy and fit."
    author: 
      name: "Angie"
      avatar: '/assets/images/@stock/author-avatar-3.png'
      position: 'Mom'

clients:
  - /assets/images/1.png
  - /assets/images/2.png
  - /assets/images/3.png
  - /assets/images/4.png

  - /assets/images/5.png
  - /assets/images/6.png  
  - /assets/images/7.png    
  - /assets/images/8.png
  
  - /assets/images/9.png
  - /assets/images/10.png  
  - /assets/images/11.png   
  - /assets/images/12.png    
---

<div class='full no-padding parallax home-video-wrapper'>
  <div class='fullscreen'>
    <video autoplay='autoplay' id='fullscreen-video' loop='loop'>
      <source src='{{ "/assets/videos/Brooklyn-run.mp4" | relative_url }}' type='video/mp4'>
    </video>
    <div class='overlay'></div>
    <div class='layer'>
      <!-- <p class="small-title">Welcome</p> -->
      <h1 class='thin' id="to-be-update">
         <span class="fir">Jay Thebado </span><br/>
         <span class="sec">Personal Training</span><br/>
      </h1>
      <!-- <h2 class='thin'>
        
       {% assign nav_obj = site.data.nav | where:'section_id','works' | first %}
       <a href='{{ "index.html" | append:nav_obj.path | relative_url }}'>View our works</a>
      </h2> -->
    </div>
  </div>
</div>


<a id='about'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">Jay Thebado Personal Training</p>
        <h2>
          Fitness for all.
        </h2>
        <p class="big-size">Jay Thebado is a certified personal trainer based in Stoughton, MA. He specializes in working with individuals who have special needs and his clients range in age and ability. He works with clients in the Greater Boston area.</p>
        <div class="four spacing"></div>
        <img src="{{ "/assets/images/logo-black.png" | relative_url }}" alt="">
      </div>
    </div>
    <div class="four spacing"></div>
  </div>
</div>
<div class="full no-overflow no-padding parallax" style="background-image: url({{ "/assets/images/jayprofile.jpg" | relative_url }})">
  <div class="right-half">
    <div class="two spacing"></div>
    <div class="section-header alt white">
      <h2>About Jay</h2>
    </div>
    <p class="light">Jay has a bachelor’s degree in nursing from UMass-Lowell and is certified in personal training through the National Academy of Sports Medicine (NASM). </p>
    <p class="light">He is the head coach of the Norton High varsity hockey team. He has also coached high school baseball for the last five years. </p>
    <div class="two spacing"></div>
    <!-- <a href="#" class="button small">Meat the team</a> -->
    <div class="three spacing"></div>
  </div>
</div>


<a id='services'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      <div class="section-title">
        <p class="small-title">About JTPT</p>
        <h2>Jay's specialties</h2>
      </div>
    </div>
  </div>
</div>
<div class='full no-overflow no-padding'>
  <div class='main-services'>
    {% for item in page.services %}
      <div class='medium-6 large-4 columns'>
        {% include service.html service=item %}
      </div>
    {% endfor %}
  </div>
</div>


<a id='works'></a>
<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="take a look" title="Transformations" %}
    </div>
  </div>
</div>
<div class='full no-padding' id="demo-1-works">
  <div class='mod modMasonryGallery'>
    <ul class='gallery'>

      {% for item in page.works %}

        {% assign work = site.works | where:"path",item.path | first %}

        {% if item.style == 'wide' %}
          {% assign class = 'wide' %}
          {% assign width = 1000 %}
          {% assign height = 350 %}
        {% else %}
          {% assign class = '' %}
          {% assign width = 500 %}
          {% assign height = 350 %}
        {% endif %}

        <li class="{{class}}">
          <a href='{{ work.url | relative_url }}'>
            <img width="{{width}}" height="{{height}}" alt="" src="{{ work.thumbnail | relative_url }}" />
            <div class='overlay'>
              <div class='thumb-info'>
                <h3>{{ work.title | downcase | capitalize }}</h3>
                <p>{{ work.categories | join:" & " | escape }}</p>
              </div>
            </div>
          </a>
        </li>

      {% endfor %}

    </ul>
  </div>
</div>
<!-- <div class='full dark no-padding '>
  <div class="four spacing"></div>
  <div class='row'>
    <div class='large-8 columns'>
      <h3 class="white">Customized to meet your needs.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur inventore minimar.
      </p>
    </div>
    <div class='large-4 columns'>
      <p>
        <a class='button small boxed' href='#'>Download Now</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>
</div> -->


<a id='team'></a>
<div class='full dark-grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="Read" title="Testimonials" %}
    </div>
  </div>
</div>
<!-- <div class="full dark-grey no-padding">
  <div class="members">
    {% for member in page.members %}
      <div class="small-3 columns">
        <div class='member-avatar'>
          <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
        </div>
      </div>
    {% endfor %}
  </div>
</div> -->
<div class="full no-padding team-bg">
  <div class="div member-decs">
    {% for member in page.members %}
      <div class="large-3 columns">
        <div class='member-dec'>
          <div class='intro'>
            <h3>{{ member.name | escape }}</h3>
            <h4>{{ member.position | escape }}</h4>
            <p class="text-left">{{ member.desc | escape }}</p>
            <!-- <ul class='socials'>
              {% for social in member.socials %}
                <li>
                  <a href='{{ social.link }}'>
                    <i class='fa fa-{{ social.icon }}'></i>
                  </a>
                </li>
              {% endfor %}
            </ul> -->
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="four spacing"></div>
</div>
<!-- <div class="full no-padding">
  <div class='mod modBoxedSlider' data-timeout='1500'>
    <div class='slides'>
      {% for image in page.team_slides %}
        <div class='slide'>
          <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
        </div>
      {% endfor %}
    </div>
  </div>
</div> -->

<!-- 
<a id='blog'></a>
<div class='full grey'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="latest posts" title="Wrap ideas." %}
    </div>
  </div>
</div>
<div class="full grey no-padding no-overflow">
  {% for post in site.posts limit:3 %}
    <div class='large-4 columns'>
      <div class='mod modBlogPost simple'>
        <div class='content'>
          <p class='date'>{{ post.date | date: "%B %d, %Y" }}</p>
          <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
          <div class='spacing'></div>
          <p>
            <a class='button boxed yellow tiny' href='{{ post.url | relative_url }}'>Read more</a>
          </p>
        </div>
      </div>
      <div class="four spacing"></div>
    </div>
  {% endfor %}
</div> -->


<div class='full no-overflow no-padding parallax' style="background-image: url({{ "/assets/images/group2.jpg" | relative_url }})">
  <div class="left-half">
    <div class="two spacing"></div>
    <div class="row">
      <div class="section-header alt white">
        <h2>From Jay's clients</h2>
      </div>
      <div class='mod modTestimonials simple'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items'>
              {% for t in page.testimonials %}
                <div class='item'>
                  <p class='quote'>{{ t.quote }}</p>
                  <div class="two spacing"></div>
                  <div class='author'>
                    <!-- <p class='author-avatar'>
                      <img width="80" height="80" alt="" src="{{ t.author.avatar | relative_url }}" />
                    </p> -->
                    <p class='author-name'>
                      -
                      <strong>{{ t.author.name }}</strong>
                      {%- if t.author.position %}, {{ t.author.position }}{% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-8 columns large-centered'>
      {% include section-title.html small_title="fitness and friendship" title="JTPT at work" %}
    </div>
  </div>
</div>
<div class="full no-padding">
  <div class="clients">
    <div class='row'>
      {% for client in page.clients %}
        <div class='large-3 medium-6 small-6 columns'>
          <div class="client">
            <a href="javascript:void(0)"><img alt="" src="{{ client | relative_url }}" /></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="four spacing"></div>
</div>

<div class="four spacing"></div>
<a id='contact'></a>
{% include contact-form.html %}

{% include social-networks.html %}